@charset "UTF-8";

/* ----- Grunder ----- */

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    /* Tycker ned sidfoten till botten */
}

html,
body,
nav,
header,
main,
aside,
footer,
article,
section,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ----- Layout ----- */


main {
  background-color: #2c6b8d;
}

body {
  background-color:rgb(55, 63, 60);
  max-width: 1280px;
  margin: 0 auto;
  float: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-rows: 250px min-content auto min-content;
  grid-template-areas:
      "header"
      "nav"
      "main"
      "footer"; 
}


h3 {
  color: #8ae0e0;
  font-size: 24px;
  padding: 0px 30px 0px 30px;

}

.bodytext p {
  padding: 0px 30px 0px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 20px;
  font-size: 16px;
}

#hp  {
  float: right; 
  margin-right: 30px;
  margin-left: 30px;
   
  }


@media only screen and (max-width: 650px) {

  h3 {
    padding: 5px 20px 0px 20px;
    margin-top: 1;
    margin-bottom: 0;
    color: #8ae0e0;
  }
  
  .bodytext p {
  padding: 5px 20px 0px 20px;
  margin-top: 0;
  font-size: 15px;
  }

  #hp  {
    float: none;    
    margin: 10px 20px 0 20px;

  }
}

  @media only screen and (max-width: 500px) {

    h3 {
      padding: 0px 0px 0px 10px;
      margin-top: 1;
      margin-bottom: 0;
      color: #8ae0e0;
    }
    
    .bodytext p {
    padding: 5px 15px 0px 15px;
    margin-top: 0;
    font-size: 15px;
    }

    #hp  {
      float: none;    
      margin: 10px 15px 0 15px;
  
    }
    }


/* ----- Stil headern -----*/

header {
  grid-area: header;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent), url(../img/skola.jpg);
  background-size: cover;
  color: white;
  padding-top: 1%;
}


header h1 {
margin-top: 100px;
width: 100%;
text-align: center;
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

header h2 {
margin-top: 0;
width: 100%;
text-align: center;
font-size: 34px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


/* ------ Stil för nav ------ */

nav ul {
grid-area: nav;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-size: 15px;
}


nav li a {
display: block;
color: white;
padding: 16px 18px;
text-decoration: none;
float: left;
}


/* Change the link color to #111 (black) on hover */
nav li a:hover {
background-color: #111;
}

.active {
background-color: #04AA6D;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
  display: none;
}


@media only screen and (max-width: 650px) {


nav ul {
font-size: 14px;
}

nav li a {
padding: 16px 10px;
}
}

@media screen and (max-width: 380px) {
  nav {
    position: relative;
    right: 0;
    top: 0;
  }

  
  nav ul a {
    float: none;
    display: block;
    text-align: left;
  }
}




/* ----- Kod för flexbox ----- */

.wrapper { /* Omgivande element */
  margin: 60px 0 0 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}

.wrapper div { /* Inre element (boxarna) */
  background-color: #04AA6D;
  padding: 4px;
  flex-basis: 120px;
  min-width: 280px;
  max-width: 400px;
  flex-shrink: 0;
  flex-grow: 1;
}


.wrapper h4 {
  font-size: 20px;
  margin: 0;
  padding: 10px 30px 0px 15px;
  
}

.bodytext p {
  line-height: 22px;
  font-size: 15px;
  margin: 0;

}

.wrapper p {
  line-height: 22px;
  font-size: 15px;
  margin: 0;
  padding: 10px 15px 10px 15px;
}


@media all and (max-width: 1000px) {
  .wrapper {

      flex-direction: column;
      align-items: center;
      font-size: 14px;

  }
  
  .wrapper h4 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0px 0px 10px;
  }
  }


@media all and (max-width: 500px) {

  .wrapper h4 {
    font-size: 15px;
    padding: 10px 15px 0px 15px;
  }

  .wrapper p {
    line-height: 20px;
    font-size: 14px;
    margin: 0;
    padding: 10px 15px 10px 15px;
  }
  }

/* From https://www.w3schools.com/css/css_navbar_horizontal.asp to change */



   footer {
    grid-area: footer;
    background-color: rgb(35, 92, 92);
    bottom: 0;
    width: 100%;
    height: auto;
    display: inline-block; 
}

/* From https://www.w3schools.com/css/css_navbar_horizontal.asp to change */
  /* STYLES SPECIFIC TO FOOTER  */

  ul {
    list-style-type: none;
    padding: 0;
  }

  .footer .col {
    width: 260px; /*anpassa meny & media*/
    height: auto;
    float: left;
    box-sizing: border-box;
/*    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
    padding: 25px;
  }

  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.100em;
    color: rgba(114, 96, 81, 0.89);

  }

  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    transition: .2s;
  }

  .footer .col ul li a {
    color: white;
}

  .footer .col ul li a:hover {
    color:rgb(235, 190, 225);
    transition: .1s;
}


  #logga {
    padding: 0 0px 15px 0;
      align-items: center;

  }

  .fa {
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
color:aquamarine;
  }
  

  /*@media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  } */


  
  @media only screen and (max-width: 650px) {


      .footer .col {
        width: 50%;
      }
      .footer .col ul li {
        font-size: 12px;
      }

      .footer .col h1  {
      font-size: 14px;
  }
}


  @media only screen and (max-width: 350px) {
    .footer .col {
      width: 100%;
      text-align: center;
    }
  }

/* ------ Formulär ------- */



#ansokan {
  padding: 10px;
}

#ansokan fieldset {
margin-bottom: 20px;
display: grid;
white-space: nowrap; /*om man ej vill bryta text vid */
}

fieldset {
background: #06768f;
}

#ansokan legend {
  font-weight: bold;
}


#customer input, #parents input, #textarea, #signname, #customer select, select {
  max-width: 60ch;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
  max-height: 300px;
}

option:not(:checked) {
  background-color: rgb(156, 53, 53);
}


#send {
  display: block;
  margin-left: auto;
  font-size: 18px;
  background-color: #04AA6D;
  border: none;
  color: white;
  height: 50px;
  text-decoration: none;
  margin: 4px 0px;
  cursor: pointer;
  max-width: 45ch;
}

#send1 {
  display: block;
  margin-left: auto;
  font-size: 18px;
  background-color: #04AA6D;
  border: none;
  color: white;
  height: 50px;
  text-decoration: none;
  margin: 4px 0px;
  cursor: pointer;
  width: 100%;
}

#send:hover, #send1:hover {
  background-color: rgb(10, 61, 44);
}

/* ------- Personalsida ------- */

.column img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  }

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 15px;
  padding: 0 9px;
}

/* Display the columns below each other instead of side by side on small screens */


/* Some left and right padding inside the container */
.container {
  padding: 1px 15px 15px 15px;
  text-align: center;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.contactinfo a[href^="mailto:"], a[href^="tel:"]  { 
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  text-decoration-color: red;
}

.contactinfo a[href^="mailto:"]:hover, a[href^="tel:"]:hover  {
	text-decoration: underline;
	text-decoration-color: rgb(151, 79, 109);
}

@media screen and (max-width: 1000px) {
  .column {
    font-size: 13px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    min-height: 160px;
  }
  }

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

  .container {
    min-height: auto;
  }
}



/* ------ Kontaktsida ------ */

.content ul li {
  color: #999999;
  font-size: 14px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}

.content li {
  list-style-type: none;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifz;
}


.content li a:hover {
  color: antiquewhite;
  transition: .1s;
}


/* ------ Kontaktformulär ------ */

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type="email"], input[type="date"], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin: 5px 0px 15px 0px;
  max-height: 600px;
  resize: vertical;  
}

div.content
{
    display: block;
    text-align: center;
    background-color: #0b2f47;
    padding: 20px;
}


#fullname, #subject, #contactemail, #contacttel {
    margin-bottom: 20px;
    display: grid;
    white-space: nowrap; /*om man ej vill bryta text vid */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
